.chat-message {

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 0 0 2rem 2rem;

  .img-rounded {
    margin: 0 1rem 3rem 0;
  }

  .message {
    flex-direction: column;
    margin: 0 40% 0 1rem;
  }

  .text {
    margin-top: 1rem;
    margin-right: 6rem;
  }

  .timestamp{
    font-size: 1.2rem;
    // margin-left: 2rem;
    margin: -2rem 0 0 6rem;
    float: right;
  }

  .bubble {
    background-color: var(--color-white);
    border-radius: 15px;
    font-size: 2rem;
    line-height: 24px;
    color: var(--color-black);
    box-shadow: 0 2px 4px 0 var(--color-shadow);
    padding: 1px 13px;
    margin-bottom: 1rem;
    overflow: hidden
    // display: flex;
    // flex-direction: row;
    // align-content: flex-end;
    // width: fit-content;
  }
}

.user-message {

  display: flex;
  flex-direction: row-reverse;
  margin: 0 0 2rem 1rem;

  .message {
    flex-direction: column-reverse;
    margin: 0 3rem 0 40%;
  }

  .name, .text {
    margin: 1rem 8rem 0 0;
  }

  .bubble {
    background-color: var(--color-primary);
    border-radius: 15px;
    font-size: 2rem;
    line-height: 24px;
    color: var(--color-white);
    box-shadow: 0 2px 4px 0 var(--color-shadow);
    padding: 1px 13px;
    margin-bottom: -1.5rem;
    // width: fit-content;
    margin-left: auto; 
    margin-right: 0;
  } 
  
  .timestamp {
    font-size: 1.2rem;
    margin: -2rem .5rem 0 0;
    text-align: right;
    display: block;
  }
}