<div *ngIf='auth.currentUserSnapshot.id != message.sender.id else userMessage'>
  <div class="chat-message">
    <img [src]="message.sender.photoURL" class="img-rounded" [routerLink]="'/profile/' + message.sender.id">
    <div class="message">
    <div class="name">
      {{message.sender.firstName}} {{message.sender.lastName}}
    </div>
    <div class="bubble">
      <div class="text">{{message.message}}</div>
      <small class="timestamp">{{message.createdAt.toDate() | date:'shortTime' }}</small>
    </div>
  </div>
  </div>
</div>

<ng-template #userMessage>
  <div class="user-message">
    <div class="message">
        <div class="bubble">
            <div class="text">{{message.message}}</div>
            <small class="timestamp">{{message.createdAt.toDate() | date:'shortTime' }}</small>
        </div>
    </div>
  </div>
</ng-template>
