.chat-message {

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 0 0 2rem 2rem;

  .img-rounded {
    margin: 0 1rem 3rem 0;
  }

  .message {
    flex-direction: column;
    margin: 0 40% 0 1rem;
  }

  .name, .timestamp{
    font-size: 1.6rem;
    margin-left: .5rem;
  }

  .bubble {
    background-color: var(--color-white);
    border-radius: 15px;
    font-size: 2rem;
    line-height: 24px;
    color: var(--color-black);
    box-shadow: 0 2px 4px 0 var(--color-shadow);
    padding: 10px 15px;
    margin-bottom: 1rem;
    width: fit-content;
  }
}

.user-message {

  display: flex;
  flex-direction: row-reverse;
  margin: 0 0 2rem 1rem;

  .message {
    flex-direction: column-reverse;
    margin: 0 3rem 0 40%;
  }

  .name, .timestamp {
    font-size: 1.6rem;
    margin-right: .5rem;
    text-align: right;
    display: block;
  }

  .bubble {
    background-color: var(--color-primary);
    border-radius: 15px;
    font-size: 2rem;
    line-height: 24px;
    color: var(--color-white);
    box-shadow: 0 2px 4px 0 var(--color-shadow);
    padding: 10px 15px;
    margin-bottom: 1rem;
    width: fit-content;
    margin-left:auto; 
    margin-right:0;
  }
}