<div class="chat-list">
    <ng-container *ngFor="let chatroom of chatService.chatrooms | async ">
    <div class="list-item-wrapper">
      <img src="http://via.placeholder.com/150x150" class="img-rounded">
      <div class="chat-list-text">
        <div class="chat-list-user">
          <a [routerLink]="['/chat', chatroom.id]">{{ chatroom.name }}</a>
        </div>
        <div class="chat-list-message">
          Lorem ipsum, dolor sit...
        </div>
      </div>
    </div>
    </ng-container>
</div>