<app-navbar></app-navbar>
<div class="container">
  <div class="signup">
    <div class="form-wrapper">
      <h2>Sign Up</h2>
      <form [formGroup]="signupForm" (submit)="submit()" novalidate>
        <div class="name-wrapper">
          <div class="name-wrapper-content">
            <p>First Name</p>
            <input type="text" formControlName="firstName">
          </div>
          <div class="name-wrapper-content">
            <p>Last Name</p>
            <input type="text" formControlName="lastName">
          </div>
        </div>
          <p>Email</p>
          <input type="email" formControlName="email">
          <p>Password</p>
          <input type="password" formControlName="password">
        <button class="btn" type="submit" [disabled]="!signupForm.valid">Sign Up</button>
      </form>
      <small><a routerLink="/login">Already have an account?</a></small>
    </div>
  </div>
</div>
