
////////////////////////////////////////////////
// Call to Action Button
.btn {
  font-size: 1.8rem;
  border-radius: 10px;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-white);
  position: relative;
  overflow: hidden;
  min-height: 5rem;	
  width: 100%;	
  cursor: pointer;
  margin-bottom: 2rem;
  transition: all .3s;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}



////////////////////////////////////////////////
// Input Field
.input {
  min-height: 5rem;	
  width: 100%;	
  border-radius: 5px;	
  background-color: var(--color-light-grey);
  border: none;
  margin-bottom: 2rem;
  padding: 1rem;
  font-size: 2rem;

  &[type=text], 
  &[type=email], 
  &[type=password], 
  textarea {
    transition: all 0.30s ease-in-out;
    color: transparent;
    text-shadow: 0 0 0 var(--color-black);
  }
   
  &[type=text]:focus,
  &[type=email]:focus,
  &[type=password]:focus, 
  textarea:focus {
    box-shadow: 0 0 4px var(--color-primary);
    border: 1px solid var(--color-primary);
    outline: none;
  }
}



////////////////////////////////////////////////
// Images

.img-rounded {
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  box-shadow: 0 2px 4px 0 #D2D2D2;
}