.chat-window {
  background-color: var(--color-light-grey);
  height: 100%;
  overflow-y: scroll;

  .message-wrapper {
    margin: 15rem 0 8rem 0;
  }
}

.select {
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
  height: 100%;
  margin-bottom: 10%;
  font-size: 6rem;
  font-weight: 700;
  background-color: #fff;

}