<app-navbar></app-navbar>
<div class="container">
  <div class="login">
    <div class="form-wrapper">
      <h2>Log In</h2>
      <form [formGroup]="loginForm" (submit)="submit()" novalidate>
        <p>Email</p>
        <input type="email" formControlName="email" class="input">
        <p>Password</p>
        <input type="password" formControlName="password" class="input">
        <button type="submit" class="btn">Log In</button>
      </form>
      <small><a routerLink="/signup">Need an account?</a></small>
    </div>
  </div>
</div>
